#chat{
    display: none;
    position: fixed;
    margin-top: 10px;

}
div.chat{
    margin-top: 10px;

}
#text{
    margin-top: 10px;
    color: blue;
    position: static;
    height: 300px;
    overflow: auto;

}
 


