@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
#name{
    text-align: center;
    color:pink;

}
#chat{
  /*  display: none;*/
    position: absolute;
    margin-top: 25px;
    width: 500px;

}
div.box{
    border: black 2px;
    border-style: solid;
    width: 800px;
    margin-left: 300px;
    background-color: gray;
    height: 340px;
}
#enter{
    position: absolute;
    width: 100px;
    margin-top: 25px;
    margin-left: 510px;

}
#logout{
    position: absolute;
    width: 100px;
    margin-top: 25px;
    margin-left: 700px;
}
body{
    background-image: url("../img/space.jpg");
}


#text{
    margin-top: 10px;
    color: pink;
    position: static;
    height: 300px;
    overflow: auto;
    font-family: 'Special Elite', cursive;


}
input[type=text]{
    background-color: gray;
}
input[type=button]{
    background-color: pink;
}

#oHead{
    position: absolute;
    top:0;
    padding: 5px;
    color:white;
}
#online{
    position: absolute;
    top: 0;
    margin-left: 100px;
    padding: 5px;
    margin-top: 50px;
}
#emo{
    position: absolute;
    right:65px;
    top: 25px;
    color:white;
}
table{
    position: absolute;
    right:100px;
    top:3px;
    width: 200px;
    margin-top: 80px;
    color:white;
}
tr,th{
    border: white 2px;
    border-style: solid;
}
#rules{
    color:white;
}
a{
    color: white;
}
 


